:root {
  --netflix-red: #FF2400;
  --netflix-black: #111111;
  --netflix-white: #FFFFFF;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(252, 250, 250, 0.9);
    transition: 0.3s;
    width: 350px;
    border-radius: 5px;
    padding: 10px;
    background: var(--netflix-red);
    color: var(--netflix-white);    
    margin: 20px;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .card:hover {
    transform: translateY(-10px) rotateX(10deg) rotateY(5deg) scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(255, 58, 58, 0.9);

  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
  }
  
  #movieTitle {
    display: flex;
    justify-content: center;
    width:80%;
    padding:  10px;
    margin: auto;

  }
  #moviePoster {
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;

    
  }
  #movieRating{
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin:10px;
  
  }
  
  .load-more-btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--netflix-red);
    color: var(--netflix-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(252, 250, 250, 0.9);

  }
  
  .load-more-btn:hover {
    background-color: #c5000d; 
    box-shadow: 0 4px 8px 0 rgba(255, 58, 58, 0.9);

  }

#sort {
  position: center;
}